
/* css */
* {
  border-radius: 0 !important;
}

.row {
  height: auto;
  padding: 10% 5%;
}

.picRow {
  height: 55vh;
  padding-top:5%;
}

.gray {
  background-color: #242424;
}

.lightRed {
  background-color: #F7D3D3;
}

.grayHeader {
  color: black;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 5%;
}

.conclusionHeader {
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 2%;
}

.bodyTextGray {
  color: #202020;
  font-size: 18px;
  line-height: 1.7;
}

.bodyTextWhite {
  color: white;
  font-size: 18px;
  line-height: 1.7;
}

.whiteHeader {
  color: white;
  font-weight: bold;
  font-size: 75px;
}

.miniHeaderWhite {
  color: white;
  font-size: 35px;
  line-height: 1.2;
  font-weight: lighter;
  margin: 5% 5% 0 0;
}

.card {
  max-height: 50vh;
  position: absolute;
  z-index: 2;
}

.redBoxRight {
  box-shadow: 40px 40px #9C0000;
  z-index: 1;
}

.redBoxLeft {
  box-shadow:-40px 40px #9C0000;
  z-index: 1;
}

.dropShadow {
  z-index: 0;
  box-shadow:  -40px 40px #9C0000, 0px 0px 5px #afb1ba;
}

.imgCenter {
  display:flex;
  align-items: center;
}

.center {
  text-align: center;
}

#ACCESSTXT, #SOCIALTXT, #CONCLUSIONTXT {
  margin: 0 15%;
  padding-bottom: 3%;
}

.rightText {
  padding-left: 5%;
}

.imgCol {
  height: 60vh;
}

span {
  display: table-cell;
  text-align: center;
}

.info {
  display: table;
  width: 100%;
  table-layout: fixed;
}
